<div class="card">
  <div class="card-header">
    <div class="row">
        <div class="col-7">
          <span>  {{charge.label}}</span>
        </div>
        <div class="col-5 text-sm-right pr-0">
          <span >  {{charge.amount | currency : 'EUR'}}</span>
        </div>
    </div>
  </div>
  <div class="card-body">
    <div>
      <span class="font-weight-light font-italic">Category: </span>
      <span>{{charge.category.label}}</span>
    </div>
    <div>
      <span class="font-weight-light font-italic">Debit date: </span>
      <span>{{charge.debitDate | date : dateFormat}}</span>
    </div>
    <div>
      <span class="font-weight-light font-italic">Description: </span>
      <span>{{charge.description}}</span>
    </div>
  </div>
</div>
