.card-header{
  background-color:#95a5a6;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #95a5a6;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) ;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    background-color: #ecf0f1 !important;
}
