<div class="ml-3">
<div class="row col-6">
  <div class="col-6">
    <div class="form-group  row">
        <label for="periodSelectField" class="col-sm-3">From: </label>
        <div class="col-sm-9 row">
          <div class="col-sm-10">
          <input name="startDateInputField"
           class="form-control form-control-sm"
           [(ngModel)]="fromDate"
           matInput
           [matDatepicker]="fromDatePicker">
          </div>
          <div class="col-sm-2">
          <mat-datepicker-toggle class="col-sm-2" matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #fromDatePicker></mat-datepicker>
          </div>
        </div>
    </div>
  </div>
  <div class="col-6">
    <div class="form-group row">
        <label for="periodSelectField" class="col-sm-3">To: </label>
        <div class="col-sm-9 row">
          <div class="col-sm-10">
          <input name="startDateInputField"
           class="form-control form-control-sm"
           [(ngModel)]="toDate"
           matInput
           [matDatepicker]="toDatePicker">
          </div>
          <div class="col-sm-2">
          <mat-datepicker-toggle class="col-sm-2" matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #toDatePicker></mat-datepicker>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="row col-6">
  <mat-accordion class="col-12" *ngIf="this.checkedCategories">
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
        <span>Categories</span>
        </mat-panel-title>
        <br>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col-6">
          <mat-checkbox  (change)="onAllCategoriesChecked($event)"  [checked]="getAllCategoriesAreChecked()">All</mat-checkbox>
        </div>
        <div  *ngFor="let c of this.checkedCategories" class="col-6">
          <mat-checkbox [(ngModel)]="c.checked">{{c.categoryLabel}}</mat-checkbox>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="mt-2 col-12">
  <button type="button" class="btn btn-primary" [disabled]="!toDate || !fromDate" name="searchButton" (click)="onSearch()">Search</button>
</div>
</div>

<mat-tab-group class="mt-2">
  <mat-tab *ngIf="this.oneTimeCharge && this.periodicCharges" label="Charges">
    <dashboard-charges [oneTimeCharge]="oneTimeCharge" [periodicCharges]="periodicCharges"></dashboard-charges>
  </mat-tab>
  <mat-tab *ngIf="this.catChartData && allCharges" label="Charts">
    <app-dashboard-charts [allCharges]="allCharges" [catChartData]="this.catChartData"></app-dashboard-charts>
  </mat-tab>
</mat-tab-group>
