<div>
    <div>
        <h4 *ngIf="this.data.request.chargeId">Edit charge</h4>
        <h4 *ngIf="!this.data.request.chargeId">Create new charge</h4>
    </div>
    <form>
        <div class="form-group row">
            <label for="typeSelectField" class="col-sm-3 col-form-label">Type</label>
            <div class="col-sm-9">
                <select  id="typeSelectField"
                 class="custom-select form-control form-control-sm"
                 placeholder="Type"
                 [(ngModel)]="this.createNewChargeRequest.type"
                 name="typeField"
                 ngDefaultControl
                 [disabled]="this.data.request.id">
                    <option *ngFor="let t of this.types" value="{{t}}">{{this.getChargeTypeLabel(t)}}</option>
                </select>
            </div>
        </div>
        <!-- DIV FOR PERIODIC FIELDS -->
          <div *ngIf="this.createNewChargeRequest.type == 'PERIODIC'">
            <div class="form-group row">
                <label for="periodSelectField" class="col-sm-3 col-form-label">Period</label>
                <div class="col-sm-9">
                    <select id="periodSelectField" class="custom-select form-control form-control-sm" placeholder="Period" [(ngModel)]="this.createNewChargeRequest.period" name="periodField" ngDefaultControl>
                        <option *ngFor="let p of this.periods" value="{{p}}">{{p}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="startDateField" class="col-sm-3 col-form-label">Start date</label>
                <!-- [(ngModel)]="this.createNewChargeRequest.startDate" -->

                <div class="col-sm-9 row">
                  <input class="col-6" name="startDateField" [(ngModel)] = "this.createNewChargeRequest.startDate" matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </div>
            </div>
            <div class="form-group row">
                <label for="endDateField" class="col-sm-3 col-form-label">End date</label>
                <div class="col-sm-9 row">
                  <input class="col-6" name="endDateField" [(ngModel)] = "this.createNewChargeRequest.endDate" matInput [matDatepicker]="endDatePicker">
                  <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #endDatePicker></mat-datepicker>
                </div>
            </div>
            <div class="form-group row">
                <label for="activeCheckBox" class="col-sm-3 col-form-label">Active</label>
                <div class="col-sm-9 row">
                  <mat-checkbox class="mt-2" id="activeCheckBox" name="activeCheckBox" [(ngModel)]="this.createNewChargeRequest.active"></mat-checkbox>
                </div>
            </div>
        </div>
          <div *ngIf="this.createNewChargeRequest.type == 'ONE_TIME'">
            <div class="form-group row">
                <label for="effectDateInput" class="col-sm-3 col-form-label">Effect date</label>
                <div class="col-sm-9 row">
                    <input class="col-6" name="effectDateField" [(ngModel)] = "this.createNewChargeRequest.effectDate" matInput [matDatepicker]="effectDatePicker">
                    <mat-datepicker-toggle matSuffix [for]="effectDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #effectDatePicker></mat-datepicker>
                </div>
            </div>
            </div>
        <div class="form-group row">
            <label for="labelInputField" class="col-sm-3 col-form-label">Label</label>
            <div class="col-sm-9">
               <input id="labelInputField" name="labelInputField" type="text" class="form-control" placeholder="Charge label" [(ngModel)]="this.createNewChargeRequest.label"  >
            </div>
        </div>
        <div *ngIf="this.categories" class="form-group row">
            <label for="categorySelectField" class="col-sm-3 col-form-label">Category</label>
            <div class="col-sm-9">
                <select id="categorySelectField"
                class="custom-select form-control form-control-sm"
                [(ngModel)]="this.createNewChargeRequest.categoryId"
                name="categorySelectField" ngDefaultControl>
                    <option *ngFor="let c of this.categories" value="{{c.id}}">{{c.label}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="descriptionTextArea" class="col-sm-3 col-form-label">Description</label>
            <div class="col-sm-9">
              <textarea id="descriptionTextArea"
               name="descriptionTextArea"
               class="form-control"
               [(ngModel)]="this.createNewChargeRequest.description"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="amountInputField" class="col-sm-3 col-form-label">Amount</label>
            <div class="col-sm-9 row m-0">
              <div class="input-group-prepend col-1 m-0 p-0">
                  <span class="input-group-text">€</span>
              </div>
              <div class="col-11 m-0 p-0">
                <input
                id="amountInputField"
                name="amountInputField"
                type="number"
                class="form-control"
                aria-label="Amount (to the nearest dollar)"
                [(ngModel)]="this.createNewChargeRequest.amount"
                >
              </div>
            </div>
        </div>
    </form>

<div class="row">
  <div class="col-6">
    <button type="button" name="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
  </div>
  <div class="col-6">
    <button type="button" name="button" class="btn btn-primary" (click)="onSave()">Save</button>
  </div>

</div>
</div>
