<div class="mt-lg-5">
  <div class="col-4 mx-auto my-auto">
    <mat-form-field class="col-12">
      <mat-label>Login</mat-label>
      <input [(ngModel)]="this.loginRequest.login" matInput placeholder="Enter your login" type="text">
    </mat-form-field>
    <mat-form-field class="col-12">
      <mat-label>Password</mat-label>
      <input [(ngModel)]="this.loginRequest.password" matInput placeholder="Enter your password" type="password">
    </mat-form-field>
    <div class="col-12">
      <button (click)="doLogin()" class="btn btn-primary" mat-button>Login</button>
    </div>
    <div *ngIf="this.loginMessage" class="mt-2 col-12">
      <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <p class="card-text">{{getTranscriptedMessageFrom(this.loginMessage)}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
