@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.btn-primary {
  background-color : #9b59b6;
  border-color:#9b59b6 ;
  color: #ffffff;
}

.btn-primary:hover{
  background-color : #9b59b6;
  border-color:#9b59b6 ;
  color: #ffffff;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #9b59b6;;
  border-color: #9b59b6;;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.global-font-style {
  font-family: Roboto;
}
